*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 2em;
}
body{
    background-color:antiquewhite;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
h1{
    color: #797d62;
    font-family: 'Domine', serif; 
    text-align: center;
}
h2{
    color: #797d62;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p{
    color: #797d62;
    font-family: 'Domine', serif;
    text-align: center
}
.descripcion{
    color: #797d62;
}
h3{
    color: #6b6e58;
    font-family: 'Domine', serif;
    text-align: center;
    color:#ffe8d6;
}
h4{
    color:#797d62;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h5{
    color: #797d62;
    font-family: 'Domine', serif;
    text-align: center
}
.videos{
    align-items: center;
    text-align: center;
}
.mapa{
    text-align: center;
    display: flexbox;

}
.nav{
    list-style: none;
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: #797d62a2;
    border-radius: 5%;
}
nav li a{
    color:black;
    text-decoration: none;
    padding: .5rem 1rem;
    
}
nav li a:hover{
    background-color:#797d6281;
    color: black;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}
.form-register {
    width: 400px;
    background-color:#de9f6e81;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    box-sizing: border-box;
    text-align: center;
}
.controles{
    width: 100%;
    background-color: #ffe8d6;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}
.terminos{
    text-decoration: none;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
header{
    color: #797d62;
    font-family: 'Montserrat', sans-serif;
}