*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../media/imagenes/cafe\ para\ llevar.jpg");
    background-color: #ffe8d6;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
h1{
    color: #797d62;
    font-family: 'Domine', serif;
    text-align: center;
}
h2{
    color: #797d62;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
p{
    color: #797d62;
    font-family: 'Domine', serif;
    text-align: center
}
h3{
    color: #6b6e58;
    font-family: 'Domine', serif;
    text-align: center
}
h4{
    color:#797d62;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h5{
    color: #797d62;
    font-family: 'Domine', serif;
    text-align: center
}
.nav{
    list-style: none;
    background-color:#facfaf8e;
    height: 80px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    border: #797d62a2;
    border-radius: 5%;
}
nav li a{
    color:black;
    text-decoration: none;
    padding: .5rem 1rem;
    
}
nav li a:hover{
    background-color:#797d6281;
    color: black;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    -ms-border-radius: 4%;
    -o-border-radius: 4%;
}
