h1{
    color: #797d62;
    font-family: 'Domine', serif; 
    text-align: center;
}
h2{
    color: #797d62;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h3{
    color: #6b6e58;
    font-family: 'Domine', serif;
    text-align: center;
    color:#ffe8d6;
}
h4{
    color:#797d62;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h5{
    color: #797d62;
    font-family: 'Domine', serif;
    text-align: center
}
p{
    color: #797d62;
    font-family: 'Domine', serif;
    text-align: center
}