tr{
    .form-register {
        width: 400px;
        background-color:#de9f6e81;
        padding: 30px;
        margin: auto;
        margin-top: 10px;
        box-sizing: border-box;
        text-align: center;
    }
    .controles{
        width: 100%;
        background-color: #ffe8d6;
        padding: 10px;
        margin-bottom: 10px;
        text-decoration: none;
    }
    .terminos{
        text-decoration: none;
    }
}