nav{
    .nav{
        list-style: none;
        height: 80px;
        display: flex;
        justify-content:space-around;
        align-items: center;
        border: #797d62a2;
        border-radius: 5%;
    }
    nav li a{
        color:black;
        text-decoration: none;
        padding: .5rem 1rem;
        
    }
    nav li a:hover{
        background-color:#797d6281;
        color: black;
        border-radius: 4%;
        -webkit-border-radius: 4%;
        -moz-border-radius: 4%;
        -ms-border-radius: 4%;
        -o-border-radius: 4%;
    }
}